.feed-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbar{
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-icons{
    margin: 0.5rem;
    color: black;
   
}

.nav-icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.upload-btn{
    margin-top: 1rem;
}

.videos-cont{
    height: 80vh;
    /* border: 1px solid black; */
    border-radius: 15px;
    scrollbar-width: 0;
    overflow-y: scroll;
}

.videos-cont::-webkit-scrollbar{
    display: none;
}
.post-cont{
    height: 100%;
    width: 20rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.post-cont>video{
    height: 100%;
    width: 20rem;
    object-fit: contain;
    background-color: black;
    border-radius: 15px;
    position: relative;
}

.video-info{
    position: absolute;
    width: 20rem;
    display: flex;
    justify-content: space-around;
    bottom: 5px;
}

.avatar-cont{
    display: flex;
    justify-content: flex-start;
    width: 70%;
}

/* .avatar-cont>p{

} */

.post-like{
    width: 20%;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:500px) {
    .nav-icons{
        display: none;
    }
}